# Archivos y directorios generados por Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos y directorios generados por herramientas de desarrollo
.idea/
.vscode/

# Archivos y directorios generados por herramientas de construcción
dist/
build/

# Archivos y directorios generados por herramientas de pruebas
coverage/

# Archivos de configuración local
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de configuración de entorno
.env.example

# Archivos de configuración de herramientas
.eslintrc
.prettierrc

# Archivos de configuración de paquetes
package-lock.json
yarn.lock

# Archivos de configuración de CI/CD
.travis.yml
.gitlab-ci.yml
